@import url('https://fonts.googleapis.com/css2?family=Amita:wght@400;700&family=Comfortaa:wght@700&family=Dekko&family=Eczar&family=Martel&family=Montserrat:wght@500;600&family=Roboto&family=Tiro+Devanagari+Hindi&display=swap');



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}

main {
    background-color: #B6CDBD;
}


/* Navigation Bar */

.header {
    position: sticky;
    top: 0;
    width: 100%;
    height: 4rem;
    padding: .5rem 50px;
    background-color: #5C715E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.logo {
    font-family: 'Eczar', serif;
    color: #DDEEDF;
    font-size: 2rem;
    font-weight: 600;
}

#check {
    display: none;
}

.icons {
    position: absolute;
    right: 50px;
    font-size: 2rem;
    display: none;
}

.navbar ul {
    display: flex;
    justify-content: space-evenly;
    gap: 3.5rem;
    list-style: none;
}

.nav-link {
    font-weight: 600;
    color: #B6CDBD;
    cursor: pointer;
    text-decoration: none;
}

a.active {
    color: #DDEEDF;
}

.navbar ul a:hover {
    color: #DDEEDF;
}





/* Responsiveness */

@media (max-width:1024px) {
    
    .icons {
        display: inline-flex;
        color: #DDEEDF;
    }

    .icons #close-icon {
        display: none;
    }
    
    #check:checked~ .icons #close-icon {
        display: inline-flex;
    }

    #check:checked~ .icons #menu-icon {
        display: none;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        display: inline-block;
        background-color: #5C715E;
        overflow: hidden;
        border-top: 1px solid #B6CDBD;
        transition: all .5s ease;
    }

    #check:checked~ .navbar {
        height: 31rem;
    }

    .navbar ul {
        display: inline;
    }

    .nav-link{
        display: block;
        font-size: 1.5rem;
        margin: 3.5rem 0;
        text-align: center;
    }
    
}

@media (max-width:580px) {

    .header {
        padding: 0.5rem 25px;
    }
    .logo {
        font-size: 1.8rem;
    }
    .icons {
        right: 25px;
    }

}

/* Hero section */

#hero {
    height: 80vh;
    padding: 50px 50px;
    border-bottom: 1px solid #5C715E;
}

.hero-container {
    height: 100%;
    overflow: hidden;
    border-radius: 5px;
}

.corousel-container {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}

.corousel-container img {
    position: absolute;
    width: 100%;
    height:100%;
    transition: all .5s linear;
    object-fit: cover;
    object-position: 50% 50%;
}

.corousel-arrow {
    position: absolute;
    left: 0;
    top: 64px;
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bx-chevron-left, .bx-chevron-right {
    font-size: 48px;
    color: #5C715E;
}

.corousel-nav {
    position: absolute;
    left: 0;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5px;
}

.corousel-button {
    color: #5C715E;
    border-radius: 50%;
}


/* hero section responsiveness */

@media (max-width:768px) {

    #hero {
        height: 70vh;
    }

    .corousel-arrow {
        height: 70vh;
    }

}

@media (max-width:580px) {

    #hero {
        height: 50vh;
        padding: 15px 15px;
    }

    .corousel-arrow {
        display: none;
    }

    .corousel-nav {
        height: 15px;
    }

    .corousel-button {
        font-size: 8px;
    }

}


/* Section 2 */

#section2 {
    padding: 50px 0 0 0;
}

.categories h2, #location h2 {
    margin: 0 50px;
    text-align: center;
    font-size: 32px;
    padding: 30px 0;
    color: #DDEEDF;
    border-radius: 10px;
    background-color: #5C715E;
}

.container-one {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding: 100px 50px;
}

.wear-card, #products h2, #gallery h1 {
    text-align: center;
    width: 385px;
    font-size: 32px;
    padding: 30px;
    border-radius: 10px;
}

.wear-card.one {
    color: #B1D0E0;
    background-color: #1A374D;
}

.wear-card.two {
    color: #E36BAE;
    background-color: #822659;
}

.wear-card.three {
    color: #FFF3C7;
    background-color: #F1C93B;
}


/* Section2 Responsiveness */

@media (max-width:580px) {

    #section2 {
        padding-top: 25px;
    }

    .categories h2, #location h2 {
        margin: 0 15px;
        font-size: 24px;
        padding: 20px 0;
    }

    .container-one {
        padding: 50px 25px;
    }

    .wear-card, #products h2, #gallery h1 {
        width: 85%;
        font-size: 24px;
        padding: 15px;
        border-radius: 10px;
    }
}



/* Products section */

#products {
    width: 100%;
    padding: 50px;
}

#products h2 {
    margin: auto;
    color: #F3F2C9;
    background-color: #003638;
}

.card-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: auto;
    padding: 50px 0;
    gap: 50px;
}

.cards {
    width: 300px;
    height: 500px;
}

.cards img {
    width: 100%;
    height: 80%;
    border-radius: 5px;
    box-shadow: 0 0 10px gray;
}

.cards h3 {
    width: 300px;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    padding: .5rem 1rem;
    color: #E7F6F2;
    background-color: #395B64;
    border-radius: 5px;
}

/* product responsiveness */


@media (max-width:768px) {

    #products  {
        padding: 50px 12px;
    }
    
}
 

/* Location section */

.location-container {
    display: flex;
    width: 85%;
    margin: auto;
    padding: 100px 0;
    gap: 30px;
}
.address-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* height: 300px; */
}

.address-container h3, .address-container p, .address-container span {
    color: #5C715E;
}

.address-container h3 {
    font-size: 1.4rem;
    font-weight: 300;
}

.address-container p {
    margin-top: 10px;
    line-height: 1.5;
}

.social-media i {
    font-size: 24px;
    margin: 10px 10px 0 0;
    color: #5C715E;
}

.social-media i:hover {
    color: #F2F9F1;
}

iframe {
    height: 300px;
    width: 100%;
    border-radius: 5px;
}

/* Location section responsiveness */


@media (max-width:768px) {

    .location-container {
        width: 80%;
        flex-direction: column;
        gap: 50px;
        padding: 50px 0;
    }

    .address-container {
        align-items: center;
    }

    .address-container p, .address-container span {
        text-align: center;
    }

}



/* Footer Section */


#footer {
    width: 100%;
    background-color: #5C715E;
}

.footer-container {
    width: 85%;
    margin: auto;
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-links a {
    color: #DDEEDF;
    text-decoration: none;
}

.footer-links a:hover {
    color: white;
}

.footer-address {
    color: #EEEEEE;
    line-height: 1.5;
}

.footer-address b {
    color: #B6CDBD;
}

.copyright {
    color: #EEEEEE;
    font-size: 0.9rem;
    font-weight: 100;
    text-align: center;
    padding-bottom: 10px;
}

/* Footer responsiveness */

@media (max-width:768px) {

    .footer-container {
        flex-direction: column;
    }

    .footer-links a {
        text-align: center;
    }

    .footer-address {
        text-align: center;
    }

    .footer-address p {
        line-height: 1.5;
    }
}






/* About section */


.about-container {
    height: 100%;
    padding: 3.5% 5% 5% 5%;
}
.about-container h1 {
    color: #435334;
    margin-bottom: 1rem;
}
.about-container p {
    line-height: 1.5;
    text-align: justify;
}



/* Gallery section */

#gallery {
    width: 100%;
    padding: 50px 25px;
}

#gallery h1 {
    color: #00AFC1;
    background-color: #006778;
    margin: auto;
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px 0 4rem 0;
    gap: 50px;
    row-gap: 50px;
}

.gallery-card {
    height: 500px;
    width: 400px;
    padding: 0.25%;
    object-fit: cover;
    object-position: center;
    transition: all .1s ease;
}

.gallery-card img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
    object-position: 50% 0%;
    /* box-shadow: 0 0 10px black; */
}

.gallery-card:hover {
    padding: 0;
}

/* Gallery section responsiveness */

@media (max-width:1024px) {

    .gallery-container {
        gap: 25px;
    }

    .gallery-card {
        height: 400px;
        width: 300px;
    }

}
@media (max-width:580px) {
    
    #gallery {
        padding: 50px 12px;
    }

    .gallery-container {
        padding: 50px 0 4rem;
    }
}



/* Contact section */

#contact {
    background-color: #435334;
}
#contact h1 {
    /* border: 1px solid yellow; */
    color: #FAF1E4;
    text-align: center;
    font-size: 2rem;
    padding: 1.7rem 0;
}
.contact-container {
    /* border: 1px solid blue; */
    width: 70%;
    margin: auto;
    padding: 0 0 3rem;
    display: flex;
    flex-wrap: wrap;
    row-gap: 2.5rem;
    justify-content: space-between;
}
.contact-card {
    border-radius: 5px;
    box-shadow: 0 0 5px white;
    width: 80%;
    height: 4rem;
    display: flex;
    flex-basis: 45%;
    overflow: hidden;
    background-color: white;
}
.contact-card img {
    height: 100%;
    flex-basis: 20%;
    padding: 0.8rem;
    border-right: 1px solid #c7c5c5;
}
.contact-card p {
    height: 100%;
    flex-basis: 80%;
    font-size: 1.2rem;
    padding: 1.2rem 0;
}

.contact-card p a {
    text-decoration: none;
}


/* contact section responsiveness */

@media (max-width:930px) {
    .contact-container {
        width: 80%;
    }
}
@media (max-width:766px) {
    .contact-card {
        flex-basis: 100%;
    }
}




